basePath: /api/v1
definitions:
  models.HTTPError:
    properties:
      code:
        type: integer
      message:
        type: string
      timestamp:
        type: string
    type: object
  models.Jn:
    properties:
      error:
        example: false
        type: boolean
      message:
        type: object
    type: object
  models.PosPagin:
    properties:
      filters:
        items:
          properties:
            key:
              type: string
            operation:
              type: string
            value:
              type: string
          type: object
        type: array
      page:
        type: integer
      size:
        type: integer
      sortField:
        type: string
      sortOrder:
        type: string
    type: object
host: api-uepkube.pusdatin-dinsos.jakarta.go.id
info:
  contact:
    email: justhasby@gmil.com
    name: -> @h4sb1
  description: The Documentation for UepKube REST API, Enjoyed..
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: UepKube API
  version: "1.0"
paths:
  /auth/signin:
    post:
      consumes:
      - application/json
      parameters:
      - description: Username
        in: query
        name: username
        required: true
        type: string
      - description: Password
        in: query
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Jn'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.HTTPError'
      summary: SignIn
      tags:
      - Auth-Controller
  /kube:
    get:
      consumes:
      - application/json
      parameters:
      - description: int
        in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Jn'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: GetKubeById
      tags:
      - Kube-Controller
  /lookup/uepkube:
    get:
      consumes:
      - application/json
      parameters:
      - description: string
        in: query
        name: val
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Jn'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.HTTPError'
      summary: Get Uep (byNik) or Get Kube (byName)
      tags:
      - Lookup-Controller
  /uep:
    get:
      consumes:
      - application/json
      parameters:
      - description: int
        in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Jn'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: GetUepById
      tags:
      - Uep-Controller
    post:
      consumes:
      - application/json
      parameters:
      - description: Show Uep
        in: body
        name: uep
        required: true
        schema:
          $ref: '#/definitions/models.PosPagin'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Jn'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: GetPaginateUep
      tags:
      - Uep-Controller
  /uep/add:
    post:
      consumes:
      - application/json
      parameters:
      - description: Add Uep
        in: body
        name: uep
        required: true
        schema:
          $ref: '#/definitions/models.PosPagin'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Jn'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/models.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/models.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/models.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/models.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: AddUep
      tags:
      - Uep-Controller
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
